@using Microsoft.AspNetCore.Components.Web
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="BlazorApp.styles.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="Server"/>
</head>

<style>
    body {
    height: 100vh; 
    text-align: center; 
    background: linear-gradient(to top, #eae6df 0%, #eae6df 90%, #03a884 90%, #03a884 100%);
    }
    @@media screen and (min-width: 1600px) {
    body {
        height: 97vh;
    }
    }
</style>

<body>
@RenderBody()
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

</body>
</html>