@using BlazorApp.Shared.Components
@using Contracts.Services
@using Entities.Model
@using System.Runtime.Intrinsics.Arm
@inject IUserService userService
@inject NavigationManager navMgr
@page "/Chat/{email?}"

@* <AuthorizeView> *@
@*     <Authorized> *@
        <main class="right-box">
            @if (User != null) {
                <CascadingValue Value="@User">
                    <HeaderRight/>
                    <MessageArea/>
                    <InputArea/>
                </CascadingValue>
            }
            else {
                <h1>USER DOES NOT EXIST</h1>
            }
        </main>
@*     </Authorized> *@
@*     <NotAuthorized> *@
@*         @{ navMgr.NavigateTo("/login"); } *@
@*     </NotAuthorized> *@
@* </AuthorizeView> *@

@code {
    [Parameter] public string Email { get; set; }
    
    public User User { get; set; }
    
    protected override void OnParametersSet()
    {
        Email = Email ?? "all";
    }
    
    protected async override Task OnInitializedAsync() {
        Console.WriteLine(Email);
        User = await userService.GetUserAsyncByEmail(Email);
        StateHasChanged();
    }
}    
