@page "/"
@inject NavigationManager navMgr


@* <Chat/> *@

<h1></h1>
<AuthorizeView>
    <Authorized>
        <ChatApp/>
    </Authorized>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
</AuthorizeView>

