@using System.Security.Claims

<main>
    <img src=@defaultAvatar width="@s" height="@s">
</main>

@code {
    [Parameter] public Size size { get; set; }
    private int s;
    
    protected override async Task OnInitializedAsync() {
        s = (int) size;
    }
    
    
    // Acepted sizes
    public enum Size : int {
        Small = 30,
        Medium = 60,
        Big = 120,
        XXL = 210
    }

    //Default avatar Img
    private string defaultAvatar = "/images/-user-login.png";
}