@using Entities.Model
<main class="main">
    <CascadingValue Value="User">
            <HeaderRight/>
    </CascadingValue>
    <CascadingValue Value="Chat">
            <MessageArea/>
            <InputArea/>
    </CascadingValue>


</main>

@code {
    [Parameter] public User User { get; set; }
    [Parameter] public Chat Chat { get; set; }

}


