@using Entities.Model
<main class="main">
    <CascadingValue Value="Chat">
        @if (Chat != null) {
            <HeaderRight/>
            <MessageArea/>
            <InputArea/>
        }
    </CascadingValue>


</main>

@code {
    [Parameter] public Chat Chat { get; set; }
}


