@using Entities.Model
@if (Chat is not null) {
    <main class="main">
        <CascadingValue Value="Chat">
        <CascadingValue Value="ChangeInfoStatus">
            <div class="main-area">
                <HeaderRight/>
                <MessageArea/>
                <InputArea/>

            </div>

            <div class="sidebar display @(showInfo ? "show" : "no-show")">
                <Info/>
            </div>
        </CascadingValue>
        </CascadingValue>
    </main>
}
@code {
    [Parameter] public Chat Chat { get; set; }
    
    bool showInfo = false;
    
    public void ChangeInfoStatus() {
        showInfo = !showInfo;
        StateHasChanged();
    }
}


