
<div class="main-header">
    <div class="avatar" onclick="@(()=>ChangeStatus.Invoke())">
        <ToolTip Text="nickName" Pos="ToolTip.Position.Button"><Avatar size="Avatar.Size.Medium "/></ToolTip>
    </div>
    <div class="menu">
        <ToolTip Text="Status" Pos="ToolTip.Position.Button"><span class="iconify" data-icon="majesticons:chat-status-line" style="color: #54646f;" data-width="24"></span></ToolTip>
        <ToolTip Text="New Chat" Pos="ToolTip.Position.Button"><span class="iconify" data-icon="ant-design:message-outlined" style="color: #54646f;" data-width="24">a</span></ToolTip>
        <ToolTip Text="Menu" Pos="ToolTip.Position.Button"><div class="iconify three-dots"><Dropdown items="@items" Icon="bi:three-dots-vertical"/></div></ToolTip>
        </div>
</div>

@code {

    [Parameter]
    public Action ChangeStatus { get; set; }

    List<string> items = new List<string>() {"New group", "Settings", "Log out"};
    
    

}
