.main-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f2f5;
    padding: 5px 15px;
}

.avatar {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nickname h3 {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    /*margin: auto;*/
}

.iconify {
    padding: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}



.dropdown-item {
    cursor: pointer;
}


.name-and-avatar {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.nickname {
    margin-left: 15px;
}

.search-bar-sleep {
    border-radius: 150px;
    /*background-color: #b02a37;*/
    width: 0px;
    transition: 700ms ease;
}

.search-bar-active {
    border-radius: 150px;
    /*background-color: #0b5ed7;*/
    width: 40vh;
    transition: 700ms ease-in-out;
}