@using BlazorApp.Shared.MicroComponents
@using BlazorApp.Config.DropDownMenu


<div class="main-header">
    <div class="avatar" onclick="@(()=>ChangeStatus.Invoke())">
        <ToolTip Text="nickName" Pos="ToolTip.Position.Button"><Avatar size="Avatar.Size.Medium "/></ToolTip>
    </div>
    <div class="menu">
        <ToolTip Text="Status" Pos="ToolTip.Position.Button"><span class="iconify" data-icon="fa:dot-circle-o" style="color: #ec4246;" data-width="24"></span></ToolTip>
        @* other colors status bar  bussy:#faa81b  ofline: #ec4246*@
        <ToolTip Text="New Chat" Pos="ToolTip.Position.Button"><span class="iconify" data-icon="ant-design:message-outlined" style="color: #54646f;" data-width="24"></span></ToolTip>
        <div class="iconify"><Dropdown  DownMenuSettings="DropDownMenuSettings"/></div>
    </div>
</div>

@code {

    [Parameter]
    public Action ChangeStatus { get; set; }

    DropDownMenuSettings DropDownMenuSettings { get; set; }= new DropDownMenuSettings("bi:three-dots-vertical", "Menu", DropDownItems);

    static ICollection<DropDownItem> DropDownItems { get; set; } = new List<DropDownItem>();

    protected override void OnInitialized() {
        DropDownItems.Clear();
        DropDownItems.Add(new DropDownItem("New Group", (() => Console.Write("New Group"))));
        DropDownItems.Add(new DropDownItem("Settings", (() => Console.Write("Settings"))));
        DropDownItems.Add(new DropDownItem("Log out", (() => Console.Write("LogOut"))));
    }
}
