
<div class="main-header">
    <Avatar/>
    <RadzenProfileMenu >
    <Template>
     <span class="oi oi-grid-three-up"></span>
    </Template>
    <ChildContent>
                <RadzenProfileMenuItem Text="Create Post" Path="CreatePost" Icon="post_add"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="Users" Path="users" Icon="people"></RadzenProfileMenuItem> @* delete this *@
                <RadzenProfileMenuItem Text="Settings" Path="SignUp" Icon="settings"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="LogOut" Path="LogOut" Icon="logout"></RadzenProfileMenuItem>
    </ChildContent>
    </RadzenProfileMenu>
</div>
