.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f2f5;
    padding: 5px 15px;
}

.nickname h3 {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.menu {
    display: flex;
    justify-content: end;
    width: 30%;
    /*margin: auto;*/
}

.iconify {
    padding: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.dropdown-item {
    cursor: pointer;
}

.three-dots:hover {
    border-radius: 50%;
    background-color: #d8dbdf
;
}

.name-and-avatar {
    display: flex;
    align-items: center;
}
.nickname {
    margin-left: 15px;
}