
<main class="main">
    <div class="chats">
        <SingleChat />
        <SingleChat/>
           <SingleChat />
        <SingleChat/>
         <SingleChat />
                <SingleChat/>
                   <SingleChat />
        <SingleChat/>
         <SingleChat />
                <SingleChat/>
                   <SingleChat />
        <SingleChat/>
         <SingleChat />
                <SingleChat/>
                   <SingleChat />
        <SingleChat/>
         <SingleChat />
                <SingleChat/>
                   <SingleChat />
        <SingleChat/>
         <SingleChat />
                <SingleChat/>
                   <SingleChat />
        <SingleChat/>
         <SingleChat />
                <SingleChat/>
                   <SingleChat />
                        <SingleChat/>
    </div>
</main>

@code {
    bool Left { get; set; } = true;
    
}
