
<main class="main">
    <div>
        <div class="chat-componenet">JUAN</div>
        <div class="chat-componenet">JUAN</div>
        <div class="chat-componenet">JUAN</div>
        <div class="chat-componenet">JUAN</div>
        <div class="chat-componenet">JUAN</div>
        <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
        <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
        <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                <div class="chat-componenet">JUAN</div>
                    <div class="chat-componenet">JUAN</div>
    </div>
</main>
