@using System.Data

@namespace BlazorApp.Shared.Components

<HeaderLeft ChangeStatus="ChangeStatus"/>
<main class="starter">
    <div class="@((Left ? "expanded" : "collapsed") + " content left")">
        @if (Left) {
            <div class="history-chats">
                <div class="search-area">
                    <SearchArea text="Search or start new chat" color="dark"/>
                </div>
                <HistoryChats/>
            </div>
        }
    </div>
        <div class="@( ( Left ? "collapsed" : "expanded" ) + " content right" )">
            @if (!Left) {
                <Profile/>
            }
        </div>
</main>

@code {
    bool Left { get; set; } = true;

    void ChangeStatus() {
        Left = !Left;
         StateHasChanged();
    }

}