
<main class="main">
    <div class="list">
        @ChildContent
    </div>
</main>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    bool Left { get; set; } = true;
    
}
