@using Entities.Model
@using Contracts.Services
@using BlazorApp.Authentication
@using BlazorApp.Services.Hub
@using Microsoft.AspNetCore.SignalR.Client

@inject IAuthService AuthService
@inject IChatService ChatService 

<main class="main">
    @if (Chat != null) {
        if (Chat.Messages != null) {
            foreach (var message in Chat.Messages) {
                <div class="@(AuthService.MyUser.Email.Equals(message.Header.CreatedBy.Email) ? "mine" : "not-mine")">
                    <PlainMessage Message="message" IsMine=@AuthService.MyUser.Email.Equals(message.Header.CreatedBy.Email)></PlainMessage>
                </div>
            }
        }
    }
</main>

@code {
    [CascadingParameter] public Chat? Chat { get; set; }
    
    [CascadingParameter] private HubService HubService { get; set; }


    private HubConnection hubConnection;
    

    protected async override Task OnInitializedAsync() {
        hubConnection = HubService.HubConnection;
        HubService.NotifyAllNewMessage += OnNotify;
    }


    //Clear all read messages
    protected async override Task OnAfterRenderAsync(bool firstRender) {
        foreach (var message in Chat!.Messages.Where(m=>!m.Header.CreatedBy.RUI.Equals(AuthService.MyUser.RUI))) {
            message.Read = true;
        }
        if (Chat!.Messages.Any()) {
            await ChatService.UpdateChat(Chat);
        }
    }
    
    
    
    
    public async void OnNotify(Message message) {
        await InvokeAsync((async () => {
            
            //TODO
            //Think about one of the two options. or refhres all the time from database,
            //or add the message to the list
            
            //Option one:

            if (message.Header.CUIRecipient == Chat.CID) { // TODO if is not like this, this message should't be here! fix this
                Chat.Messages.Add(message);
                Chat.Messages = Chat.Messages.OrderByDescending(m => m.Header.Created).ToList();
            }
            //Option two:
            // Chat = await ChatService.GetChat(Chat.CID);
            
            StateHasChanged();
        }));
    }
    

}