@using Entities.Model
@using Contracts.Services
@using BlazorApp.Authentication

@inject IAuthService AuthService
@inject IChatService ChatService 

<main class="main">
    @if (Chat.Messages != null) {
        foreach (var message in Chat.Messages) {
            <div class="@(AuthService.MyUser.Email.Equals(message.Header.CreatedBy.Email) ? "mine" : "not-mine")">
                <PlainMessage Message="message" IsMine=@AuthService.MyUser.Email.Equals(message.Header.CreatedBy.Email)></PlainMessage>
            </div>
        }
    }
</main>

@code {
    [CascadingParameter]
    public Chat Chat { get; set; }

    //Clear all read messages
    protected async override Task OnAfterRenderAsync(bool firstRender) {
        await ChatService.MarkAsRead(Chat.CID, AuthService.MyUser);
    }

}