@using Entities.Model
<main class="main">
    <PlainMessage Message="Message"/>
</main>

@code {
    [CascadingParameter]
    public static User user { get; set; }

    public Message Message = new Message(user, user, "Este es un mensake");

}