<main class="main">
    <div class="not-mine"><PlainMessage  mine="false" m="Este es el primer mensaje 1"/></div>
    <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 2 y tiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
    <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 3 y dfg  dfgh fgh dfg sd   sdgfsdfgsdfg  gfd dfgsdfg sdfg dfgh dgfhj dfgh sdfgsdfg sdfsd sdfgf dfg dfgdf dfgsd sdfgsdfgsdf  dfg fgdstiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
        <div class="not-mine"><PlainMessage  mine="false" m="Este es el pfasdasdfasdf  sdfg sdfgsd fgsdf bsd fg sd f sdf dfg ndfn dfg fghcvbmfgh fgcvb cvmbrimer mensaje 1"/></div>
    <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 2 y tiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
        <div class="not-mine"><PlainMessage  mine="false" m="Este es el primer mensaje 1"/></div>
        <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 2 y tiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
        <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 3 y dfg  dfgh fgh dfg sd   sdgfsdfgsdfg  gfd dfgsdfg sdfg dfgh dgfhj dfgh sdfgsdfg sdfsd sdfgf dfg dfgdf dfgsd sdfgsdfgsdf  dfg fgdstiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
            <div class="not-mine"><PlainMessage  mine="false" m="Este es el pfasdasdfasdf  sdfg sdfgsd fgsdf bsd fg sd f sdf dfg ndfn dfg fghcvbmfgh fgcvb cvmbrimer mensaje 1"/></div>
    <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 2 y tiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
        <div class="not-mine"><PlainMessage  mine="false" m="Este es el primer mensaje 1"/></div>
        <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 2 y tiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
        <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 3 y dfg  dfgh fgh dfg sd   sdgfsdfgsdfg  gfd dfgsdfg sdfg dfgh dgfhj dfgh sdfgsdfg sdfsd sdfgf dfg dfgdf dfgsd sdfgsdfgsdf  dfg fgdstiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
            <div class="not-mine"><PlainMessage  mine="false" m="Este es el pfasdasdfasdf  sdfg sdfgsd fgsdf bsd fg sd f sdf dfg ndfn dfg fghcvbmfgh fgcvb cvmbrimer mensaje 1"/></div>
    <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 2 y tiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
        <div class="not-mine"><PlainMessage  mine="false" m="Este es el primer mensaje 1"/></div>
        <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 2 y tiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
        <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 3 y dfg  dfgh fgh dfg sd   sdgfsdfgsdfg  gfd dfgsdfg sdfg dfgh dgfhj dfgh sdfgsdfg sdfsd sdfgf dfg dfgdf dfgsd sdfgsdfgsdf  dfg fgdstiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
            <div class="not-mine"><PlainMessage  mine="false" m="Este es el pfasdasdfasdf  sdfg sdfgsd fgsdf bsd fg sd f sdf dfg ndfn dfg fghcvbmfgh fgcvb cvmbrimer mensaje 1"/></div>
            <div class="mine"><PlainMessage mine="true" m = "este mensake es el numer 2 y tiene qie ir segundo, cla slkdfj, sdfgjsdf sdgf sdfvsdvnsdfv  sdf"/></div>
</main>