@using Entities.Model
@using BlazorApp.Authentication

@if (Message != null) {
    <main class="main" style="@(IsMine ? "background-color:#d9fdd3" : "background-color:#ffffff")">
        <div class="message">
            <p class="message-body">@Message.Body</p>
            <p class="date-and-time">@(string.Format("{0:hh:mm tt}", Message.Header.Created))</p>
        </div>
    </main>
}

@code {
    [Parameter] public Message? Message { get; set; }
    [Parameter]  public bool IsMine { get; set; }
    
    public string color = "#ffffff";
}