@using Entities.Model

<main class="main" style="background-color: @color">
    <div class="message">
        <p class="message">@m</p>
        <p class="date-and-time">@(string.Format("{0:hh:mm tt}", message.Created))</p></div>
</main>

@code {
    [Parameter] public string m { get; set; }
    [Parameter] public bool mine { get; set; }
    public string color;
    Message message = new Message(DateTime.Today, new User("Hugo", "kajsdf", "sdfg", "sdaf", "asdf"), "este es un mesnjea para todos");
    

    protected override void OnInitialized() {
        color = mine ? "#d9fdd3" : "#ffffff";
    }

}