@using BlazorApp.Services
@using BlazorApp.Shared.MicroComponents
@inject IJSRuntime _jsRuntime
@inject IToastService _toastService

<main class="main">
    <div class="header">
        <h3>Profile</h3>
    </div>
    <div class="avatar" > 
        <div class="img-avatar">
            <div class="change-img" @onclick="@(() => {_toastService.ShowInfo("Change Image");})">
                <span class="iconify" data-icon="bi:camera-fill"></span>
                <div class="avatar-text">
                    <h6>CHANGE</h6>
                    <h6>PROFILE</h6>
                    <h6>PHOTO</h6>
                </div>
            </div>

        </div>
    </div>
    <div class="personal-data">
        <EditField TypeField="Name" Field="Carlos" type="text"></EditField>
        <EditField TypeField="Last Name" Field="Carlos" type="text"></EditField>
        <EditField TypeField="Email" Field="carlitos@gmail.com" type="email"></EditField>
        <EditField TypeField="Password" Field="password" Type="password"></EditField>
    </div>

    <div class="save">
       <span class="iconify" data-icon="codicon:save-as" style="color: #8696a0;" data-width="20"></span>
    </div>
</main>

