<div class="search-area">
       <form action="/" method="GET" class="form">
            <input type="search" placeholder="Search or start new chat" class="search-field" />
            <button type="submit" class="search-button">
              <img src="images/search.png">
            </button>
          </form>
    @* <span class="oi oi-magnifying-glass"></span> *@
    @* <RadzenAutoComplete Placeholder="Search or start new chat" Style="width: 100%;"/> *@
</div>