.search-area {
    overflow: hidden;
    background-color: transparent;
    margin:  15px 0;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 100%;
}

.oi-magnifying-glass {
    margin: auto;
    font-size: 20px;
}

.form {
    margin: 0 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border-radius: 20px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.dark {
    background-color: #f1f2f5;
    border: 1px solid #f1f2f5;
}

.white {
    border: 1px solid #f1f2f5;
}