<div class="search-area">
    <div class="form">
        <input type="search" placeholder=@text class="search-field @color" @bind="value" @onkeydown="@Enter" @oninput=@RefreshValue/>
        <button type="submit" class="search-button" @onclick="@Send">
            <img src="images/search.png">
        </button>
    </div>
</div>

@code {

    [Parameter]
    public string text { get; set; } = "Search";

    [Parameter]
    public string color { get; set; } = "dark";
    
    [Parameter]
    public Action<string>? Search { get; set; }

    private string value = string.Empty;

    //If I press enter
    public void Enter(KeyboardEventArgs e) {
        if (e.Code == "Enter" || e.Code == "NumpadEnter") {
            Send();
        }
    }
    
    public void RefreshValue(ChangeEventArgs e) {
        value = e.Value.ToString();
    }

    public void Send() {
        Search.Invoke(value);
    }
}
