.main-component {
    box-shadow: 53px 33px 1px -33px grey;
    background-color: transparent;
    height: 73px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.left-half {
    width: 100%;
    display: flex;
    justify-content: initial;
    align-items: center;
}
.main-component:hover {
    background-color: #F6F6F7;
}

.avatar {
    margin: 0 10px;
}

.name-and-message {
    margin: 0;
    padding: 0;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: first;
    flex-shrink: 100;
    justify-content: center;
}
.nickname {
    height: 50%;
    padding: 0px;
    margin: 5px;

    color: #111b21;
    font-weight: bolder;
}
.message {
    font-style: italic;
    height: 50%;
    padding: 0px;
    margin: 5px;
    color: #3b4a54;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap ;
    max-width: 250px;
    min-width: 200px;
    flex-shrink: 10;

}
.date-and-time {
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.date {
    padding: 0px;
    margin: 5px;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #657781;
    overflow: hidden;
    white-space: nowrap;

}

.circle {
    padding: 0px;
    margin: 5px;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

.drop {
}

.new {
    background-color: #25d366;
    color: white;
}

.drop-menu {
    overflow: visible;
    z-index: 500;
}

.close {
    
}

