.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

span {
    visibility: hidden;
    position: absolute;
    font-size: 12px;
    font-family: Arial;
    top: 100%;
    left: 50%;
    background-color: #E4E4E4;
    color: #454545;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px 1px;
}


.tooltip-wrapper:hover span {
    animation: cssAnimation 0s 2s forwards;
}

@keyframes cssAnimation {
    to   { visibility: visible; }
}
