.app {
    display: flex;
    height: 98%;
    max-width: 1600px;
    margin: auto;
    background-color: #fff;
    overflow: hidden;
}
.side-bar {

    min-width: 350px;
    width: 30%;
}

.main {
    height: available;
    flex-grow: 100;
}

@media screen and (min-width: 1600px) {
    .app {
        margin-top: 3vh;
    }
}

@media screen and (max-width: 576px) {
        .side-bar {
            display: none;
    }
}