@inherits LayoutComponentBase
@using BlazorApp.Shared.Components
@using BlazorApp.Config.Toast
@using BlazorApp.Pages

<PageTitle>Via Vai Chat</PageTitle>

<div class="app">
    <div class="sidebar">
         <LeftMain/>
    </div>
    <main class="main">
        @Body
    </main>
    <Toast Position="ToastPosition.BottomRight" Timeout="10"/>
</div>