@inherits LayoutComponentBase
@using BlazorApp.Shared.Components
@using BlazorApp.Config.Toast
@using BlazorApp.Pages

<PageTitle>Via Vai Chat</PageTitle>


<div class="app">
    <main class="main">
        @Body
    </main>
    <AuthorizeView>
        <Authorized>
            <Toast Position="ToastPosition.BottomRight" Timeout="10"/>
        </Authorized>
    </AuthorizeView>
</div>
