@inherits LayoutComponentBase
@using BlazorApp.Shared.Components
@using BlazorApp.Config.Toast
@using BlazorApp.Pages

<PageTitle>Via Vai Chat</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="app">
            <div class="side-bar">
                <LeftMain/>
            </div>
            <main class="main">
                @Body
            </main>
            <Toast Position="ToastPosition.BottomRight" Timeout="10"/>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="app">
            <main class="main">
                @Body
            </main>
        </div>
    </NotAuthorized>
</AuthorizeView>