@using System.Security.Claims

<main>
    <div class="image-avatar" style="width: @s ; height: @s; background: url(@image); background-size: cover">
    </div>
</main>
@code {
    [Parameter] public Size size { get; set; }
    [Parameter] public string? image { get; set; } = "/images/-user-login.png";
    
    private string s;
    
    protected override async Task OnInitializedAsync() {
        s = ((int) size) + "px";
    }
    
    
    // Acepted sizes
    public enum Size : int {
        Small = 30,
        Medium = 60,
        Big = 120,
        XXL = 210
    }
    
}