/*Avatar*/

.avatar {
    margin: 15px;
    border-radius: 50% ;
    width: fit-content;
}

.img-avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 20vh;
    min-width: 200px;
    aspect-ratio: 1 / 1;
}

.iconify {
    margin: 20px;
    width: 35px;
    height: 55px;
    color: white;
}
.avatar-text {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.avatar-text h6 {
    padding: 0;
    margin: 0;
}

.change-img{
    overflow: hidden;
    border-radius: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0%;
}

.change-img:hover{
    opacity: 50%;
    cursor:pointer;
}