.app {
    display: flex;
    height: 98%;
    max-width: 1600px;
    margin: auto;
    background-color: #fff;
    overflow: hidden;
}
.sidebar {
    max-width: 1400px;
    min-width: 360px;
    width: 30%;
}

.main {
    flex-grow: 100;
}

@media screen and (min-width: 1600px) {
.app {
    margin-top: 3vh;
}
}

