.page {
    display: flex;
    height: 100%;
    max-width: 1400px;
    margin: auto;
    background-color: #fff;
    overflow: scroll;
}
.sidebar {

    min-width: 360px;
    width: 30%;
}

.main {
    flex-grow: 100;
}


