@inherits LayoutComponentBase
@using BlazorApp.Shared.Components

<PageTitle>Via Vai Chat</PageTitle>

<div class="page my-xxl-4">
    @* <LayoutView Layout="typeof(OnlineLayout)"></LayoutView> *@
    <div class="sidebar">
         <LeftMain/>
    </div>
    <main class="main">
        @* <div class="top-row px-4"> *@
        @*     <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
        @* </div> *@
        @* *@
        @* <article class="content px-4"> *@
        @Body
        @* </article> *@
    </main>
</div>